[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[commit]
  gpgSign = true
[tag]
  gpgSign = true
[gpg]
  program = gpg
[init]
  defaultBranch = main
[core]
  pager = delta
  excludesfile = $HOME/.gitignore_global
[alias]
	diffstat = "!f() { git add -N . && git diff --shortstat; git restore --staged .; }; f"
